@tailwind base;

:root {
  --blue-dark-1: 	#4198D5;
  --blue-dark-2: 	#2F7AC0; 
  --blue-dark-3: 	#29628A;
  --blue-dark-4: 	#00375C;
  --blue-dark-5:		#002B47;
  
  --blue-grey-1: 	#F5FBFD;
  --blue-grey:			#EDF5FB;
  --blue-grey-2: 	#F7F9FA;
  
  --blue-light-1:	#F0FAFF;
  --blue-light-2: 	#B3E6FF;
  --blue-light-3: 	#6DCFFF; 
  --blue-light-4: 	#2F7AC0;
  
  --accent-orange: #FF8000;
  --accent-blue: #6dcfff;

  --blue-100:   #e7ffff;
  --blue-200:   #caf8ff;
  --blue-300:   #a1e9ff;
  --blue-400:   #6dcfff;
  --blue-500:   #48a6e5;
  --blue-600:   #2271c5;
  --blue-700:   #29628A;
  --blue-800:   #21406E;
  --blue-900:   #00375C;
  --blue-1000:  #002B47;
}



/* ------------------------------------ 
 * FONTS
------------------------------------ */

/* latin-ext */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPecZTIAOhVxoMyOr9n_E7fdM3mDbRS.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPecZTIAOhVxoMyOr9n_E7fdMPmDQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGIVzY4SY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v8/NaPDcZTIAOhVxoMyOr9n_E7ffHjDGItzYw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Scrollbar */
body {
	scrollbar-width: thin; /* future standards way */
}
body::-webkit-scrollbar {
	width: thin; /* long-standing webkit way */
}

*:focus {
	outline: 4px solid #FFBF00;
	outline-offset: 3px;
}

/* Base */
h1, h2, h3, h4, h5, h6, button,
nav,
.button,
.logo,
.font-heading {
  @apply font-display;
  @apply font-semibold;
  @apply text-blue-900;
  letter-spacing: 0.3pt
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply leading-tight;
	margin-bottom: 1.5rem;
}

h1	{	@apply text-header1; }
h2	{	@apply text-header2; }
h3	{	@apply text-header3; }
h4	{	@apply text-header4; }
h5	{	@apply text-header5; }

p, li {
  @apply tracking-wider;
}

strong {
  font-weight: 600;
}

/* General global utilities */
[hidden] {
	display: none;
}
.nowrap {
	white-space: nowrap;
}
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; 
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Page helpers */
/* May not be needed because of container! */
.page-width {
  max-width: 1400px;
}

/* Links */
a {
	text-decoration: underline;
	@apply font-semibold;
	@apply text-blue-600;
	position: relative;
}

.link {
  position: relative;
}
.link:after {
  content: "";
	position: absolute;
	left: -2%;
	bottom: -2%;
	height: 104%;
	width: 0;
	z-index: -1;
	transition: all 0.2s ease-in;
	@apply bg-accent-100;
}
.link:hover {
  @apply text-blue-800;
}
.link:hover:after {
  width: 104%;
}

/* Buttons */
.btn {
	position: relative;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 1.1;
	margin-top: 1.5rem;
	padding: 0.75em 1.85em 0.8em 1.25em;
	border: 0;
	clip-path: polygon(100% 0, 100% 0%, 90% 100%, 0 100%, 0 0);
	background-image: linear-gradient(to top, #2BABD9, #59DBFF);
	@apply font-display;
	@apply text-blue-1000;
	text-decoration: none;
}
.btn:after,
.btn:before {
	display: block;
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: all 0.2s ease-in;
}
.btn:after {
	height: 100%;
	background: linear-gradient(to top, #6dcfff, #a1e9ff);
	@apply bg-accent-200;
	z-index: -1;
}

.btn:focus:before,
.btn:hover:after,
.btn:focus:after {
	width: 100%;
}

/* Forms */
label {
	display: block;
}
textarea {
	resize: none;
}

/* Global equals decal */
.equals-decal {
	position: relative;
	display: inline-block;
}

.equals-decal:before,
.equals-decal:after {
	position: absolute;
	content: "";
	width: 50vw;
	left: -50.5vw;
	@apply bg-blue-400;
	opacity: 0.3;
	height: 25%;
}
.equals-decal:before {
	bottom: 60%;
}
.equals-decal:after {
	bottom: 15%;
}

@tailwind components;

@tailwind utilities;


/* ------------------------------------ 
 * THEME
------------------------------------ */
.theme-light {
  --bg-background-primary: transparent;
  --bg-background-secondary: #F0FAFF; /* #f7fafc */
  --bg-background-tertiary: #C9E2F5;  /* #e2e8f0 */

  --bg-background-form: white;

  --text-copy-primary: #003A61;
  --text-copy-secondary: #27475C;

  --border-border-color-primary: white;
}

.theme-light .search-highlighted {
  background: #EBF6FD;
}

.theme-light .search-hover:hover {
  background: #EBF6FD;
}

.theme-dark .markdown-body {
    color: #24292e;
}

.theme-dark .search-highlighted {
  background: #2d3748;
}

.theme-dark .search-hover:hover {
  background: #2d3748;
}

.theme-dark {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --bg-background-form: #1a202c;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #1a202c;
}

.theme-dark .markdown-body {
    color: #cbd5e0;
}

.theme-dark nav .active {
    @apply border-white border-b;
}

.content-wrapper {
  transition: background-color .25s;
}

/* ------------------------------------ 
 * Base
------------------------------------ */

.link {
  @apply text-blue-700 font-bold;
}

.link:hover {
  @apply text-blue-800;
}


/* ------------------------------------ 
 * Nav
------------------------------------ */

nav .active {
  font-weight: bold;
  @apply border-black border-b;
}



/* ------------------------------------ 
 * Layout
------------------------------------ */
.container {
  max-width: 1400px !important;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* @media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
} */

/* TEMP */
.checkmark {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2229%22%20height%3D%2229%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M4.427%2024.93A14.5%2014.5%200%201%201%2024.93%204.427c5.495%205.69%205.416%2014.733-.177%2020.326s-14.637%205.672-20.326.177z%22%20fill%3D%22%232E855A%22/%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M10.234%2012.803l3.67%203.253L20.766%2010%2023%2012l-9.096%208L8%2014.789l2.234-2z%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  @apply pl-10;
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* ------------------------------------ 
 * Accessibility
------------------------------------ */
.sr-only {
  position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}


/* ------------------------------------ 
 * Icons
------------------------------------ */

.icon-wrap, 
.icon-wrap svg {
  height: 1em;
  width: 1em;
}

.icon-wrap--inline {
  display: inline-block;
  margin-bottom: -0.125em;
}

.icon-wrap--inline,
.icon-wrap--inline svg {
  width: 1.25em;
}


/* ------------------------------------ 
 * Header
------------------------------------ */

.header {
  position: relative;  /* ! may not be needed */
}

.nav-toggle {
  z-index: 2;
	background: transparent;
	border: 0;
	display: inline-block;
	position: relative;
  margin: 0 0 0 -20px;
  @apply text-blue-100;
	padding-right: 0;
	padding-left: 0;
	padding-top: 28px;
	text-transform: lowercase;
	/* // @include font-met; */
	/* @include font-heading; */
	letter-spacing: 0.5px;
	@apply text-sm;
	/* @include transition(all); */
	transition: color 0s linear 0s;
	cursor: pointer;
	min-width: 35px;
  text-align: center;
  
  @media (min-width: 640px) {
    padding-top: 33px;
  }

  @media screen and (min-width: 780px) {
    display: none;
  }
}

.nav-toggle:before {
  content: "";
  @apply bg-blue-100;
	height: 3px;
	width: 30px;
	position: absolute;
	top: 15px;
	left: 50%;
	margin: 0 0 0 -15px;
	display: block;
	transform: skew(-20deg);
	transition: all 0.2s ease-in, background-color 0s linear 0s;

	@media (min-width: 640px) {
		top: 18px;
	}
}

.nav-toggle:after {
  position: absolute;
		content: "";
		@apply bg-blue-100;
		height: 3px;
		width: 30px;
		top: 25px;
		left: 50%;
		margin: 0 0 0 -15px;
		display: block;
		transform: skew(-20deg);
		transition: all 0.2s ease-in, background-color 0s linear 0s;

		@media (min-width: 640px) {
			top: 28px;
		}
}

.nav-toggle:focus:before,
.nav-toggle:focus:after,
.nav-toggle:hover:before,
.nav-toggle:hover:after {
  @apply bg-blue-400;
  /* background-color: var(--blue-light-2); */
}

.nav-toggle:focus,
.nav-toggle:hover {
  outline: none;
  color: var(--blue-light-2);
}

.nav-toggle.is-open:before,
.nav-toggle.is-open:after {
  background: var(--blue-light-2);
  top: 20px;
  width: 20px;
  margin: 0 0 0 -13px;
  left: calc(50% + 3px);

  @media (min-width: 640px) {
    top: 22px;
		width: 25px;
		left: 50%;
  }
}
.nav-toggle.is-open:before { transform: rotate(45deg); }
.nav-toggle.is-open:after { transform: rotate(-45deg); }